/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 de set de 2019, 15:44:34
    Author     : amanda
*/

.block{
    display: block;
}
.columns.is-vcentered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center !important;
}
.hero{
    position: relative;
}
.hero.is-fullheight {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.is-hcentered{
    align-items: center;
    justify-content: center;
    display: flex;
}

.container.head{
    padding-top: .5rem;
}

a > .card:hover{
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.53);
  -moz-box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.53);
  box-shadow: 0px 0px 29px -8px rgba(0,0,0,0.53);
  z-index: 50;
}
.card span.icon{
    color: #206dfb;
}
.card-fix-centered{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 200px;
}

.card-box{
    margin-top: -10rem !important;
}

.card-header p{
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #000000;
    background: #207dff;
    background: -moz-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #207dff), color-stop(100%, #a16ae8));
    background: -webkit-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -o-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -ms-linear-gradient(left, #207dff 0%, #a16ae8 100%);
    background: -webkit-gradient(linear, left top, right top, from(#207dff), to(#a16ae8));
    background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207dff', endColorstr='#a16ae8', GradientType=1 );
}

.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.hero div.hero-foot .tabs ul{
    margin-bottom: 0rem !important;
}

.tabs.is-boxed li.is-active a{
    background-color: #f8f9fa !important;
}

.ftco-section {
    padding-top: 2em;
}
.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 3;
}